{{!< default}}
<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Mon Jun 05 2017 19:57:12 GMT+0000 (UTC)  -->
<html data-wf-page="5924db699cd9a10ccaf18378" data-wf-site="5924db699cd9a10ccaf18377">
<head>
  <meta charset="utf-8">
  <title>SF_v1.0</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="https://sailforjustice.org/testing/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="https://sailforjustice.org/testing/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="https://sailforjustice.org/testing/css/sf-v1-0.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://sailforjustice.org/testing/js/modernizr.js" type="text/javascript"></script>
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7972334/7917972/css/fonts.css">
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <style>
    .p .h2 .h3 .heading-2 .heading-3 {
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-style: normal;
    font-weight: 300;
    }
    .heading-1 {
    font-family: "Tungsten A", "Tungsten B";
    font-style: normal;
    font-weight: 400;
    }
    h1 {
    font-family: "Tungsten A", "Tungsten B";
    font-style: normal;
    font-weight: 400;
    }
    h4 {
    font-family: "Tungsten A", "Tungsten B";
    font-style: normal;
    font-weight: 500;
    }
    h2 {
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-style: normal;
    font-weight: 300;
    }
    h3 {
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-style: normal;
    font-weight: 300;
    }
    body {
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-style: normal;
    font-weight: 300;
    }
    h6, .heading-5 {
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-style: normal;
    font-weight: 300;
    }
    .get-involved-text {
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-style: normal;
    font-weight: 300;
    }

    .popup {
      width:50%!important;
      height:50%%!important;
      position:relative;
    }

    .popup-container{
      display:none;
      background-color:black!important;
      position:fixed!important;
      z-index:99999!important;
      width:100%!important;
      height:100%!important;
      margin:0!important;
    }
  </style>
</head>

<div id="popup-container" class="popup-container">
  <div id="popup" class="popup">
      <div id="btnFadeOut">Close</div>
      <!-- {{#if enquirySubmitted}}
      <h3>Thanks for getting in touch.</h3>
      {{else}} -->
      <form method="post">
        <input type="hidden" name="action" value="contact">
        <div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
          <label>Name</label>
          <input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
        </div>
        <div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
          <label>Email</label>
          <input type="email" name="email" class="form-control" value="{{formData.email}}">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
        </div>
        <div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
          <label>What are you contacting us about?</label>
          <select name="enquiryType" class="form-control">
            <option value="">(select one)</option>
            {{#each enquiryTypes}}
            <option value="{{value}}">{{label}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
          <label>Message</label>
          <textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
      <!-- {{/if}} -->
    </div>
  </div>

<body class="body" data-ix="display-nav">
  <div class="nav w-nav" data-animation="default" data-collapse="medium" data-duration="400" data-ix="display-none">
    <div class="container w-container">
      <a class="brand w-nav-brand" href="#"><img class="image-2" src="images/sf-logo.svg">
      </a>
      <nav class="nav-menu w-nav-menu" role="navigation">
        <div class="dropdown w-dropdown" data-delay="0">
          <div class="dropdown-toggle-2 w-dropdown-toggle">
            <div class="white-nav-text">About Us</div>
          </div>
          <nav class="w-dropdown-list"><a class="w-dropdown-link" href="#">Contact Us</a><a class="w-dropdown-link" href="#">Recent News</a>
          </nav>
        </div>
        <div class="dropdown-2 w-dropdown" data-delay="0">
          <div class="dropdown-toggle w-dropdown-toggle">
            <div class="white-nav-text">Programs &amp; Services</div>
          </div>
          <nav class="w-dropdown-list"><a class="w-dropdown-link" href="#">Residential Group Care</a><a class="w-dropdown-link" href="#">After School Mentorship</a>
          </nav>
        </div><a class="charters w-nav-link white-nav-text" href="#">Get Involved</a><a class="charters w-nav-link white-nav-text" href="#">Charters</a><a class="nav-donation-button w-nav-link" href="#">Donate</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="section" data-ix="show-nav">
    <div class="container main-header">
      <h1 class="heading white">RESIDENTIAL GROUP CARE</h1>
    </div>
  </div>



  <div class="main-info-section">
    <div class="container left">
      <h2 class="heading-2 white">SailFuture pioneers innovative solutions to empower and inspire youth in the child welfare and juvenile justice systems.</h2>
      <h3 class="blue heading-3">Our goal is to fundamentally change the life trajectory of every youth we serve. To do that, we empower youth to change their behavior, self-concept, and overcome deeply-seeded trauma.</h3>
      <a class="about-us learn-more-button w-clearfix w-inline-block" href="#">
        <div class="text-block yellow">Learn more about us</div><img class="image" src="images/arrow-white.svg" width="19.5">
      </a>
    </div>
  </div>
  <div class="our-programs">
    <div class="container programs-1">
      <h2 class="dark heading-2 programs">SailFuture operates two programs: a comprehensive intervention and group home facility for crossover youth, and an afterschool mentoring program for at-risk high school students.</h2>
      <div class="container-programs w-clearfix">
        <div class="div-block">
          <h4 class="heading-4">RESIDENTIAL GROUP CARE</h4>
          <h3 class="heading-3">Our goal is to fundamentally change the life trajectory of every youth we serve. To do that, we empower youth to change their behavior, self-concept, and overcome deeply-seeded trauma.</h3>
          <a class="learn-more-button w-clearfix w-inline-block" href="#">
            <div class="text-block">Read about the program model</div><img class="image" src="images/arrow-blue.svg">
          </a>
        </div>
        <div class="our-programs-rgc"></div>
      </div>
      <div class="asm container-programs">
        <div class="asm div-block">
          <h4 class="heading-4">AFTER SCHOOL MENTORSHIP</h4>
          <h3 class="heading-3">Semester-long intervention program for students who are at-risk of expulsion or dropping out of high school.</h3>
          <a class="learn-more-button w-clearfix w-inline-block" href="#">
            <div class="text-block">Contact Us</div><img class="image" src="images/arrow-blue.svg">
          </a>
        </div>
        <div class="asm our-programs-rgc"></div>
      </div>
    </div>
  </div>
  <div class="live-tracker">
    <div class="container live-tracker-1">
      <div class="live-tracker-block">
        <h4 class="heading-4 white">Live Tracker</h4>
        <h3 class="heading-3 white">Follow the boat’s location and view daily photos and captain logs from our youth’s sailing journey around the state of Florida on board SV Defy the Odds.</h3>
        <a class="about-us learn-more-button w-clearfix w-inline-block" href="#">
          <div class="blue text-block yellow">Learn more about us</div><img class="image" src="images/arrow-white.svg" width="19.5">
        </a>
      </div>
      <div class="live-tracker-section">
        <a class="tracker-stories-container w-inline-block" href="#">
          <div class="main-image-tracker"></div>
          <div class="tracker-main-text">
            <h6 class="heading-6">June 9th, 2017<br>Pensacola</h6>
          </div>
        </a>
        <a class="tracker-stories-container w-inline-block" href="#">
          <div class="main-image-tracker"></div>
          <div class="tracker-main-text">
            <h6 class="heading-6">May 25th, 2017<br>Ft. Desoto</h6>
          </div>
        </a>
        <a class="tracker-stories-container w-inline-block" href="#">
          <div class="main-image-tracker"></div>
          <div class="tracker-main-text">
            <h6 class="heading-6">April 20th, 2017<br>St. Petersburg</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="get-involved">
    <div class="container">
      <h2 class="center dark heading-2 programs">Inspired to get involved? <br>
Find a role that fits your purpose and schedule.</h2>
      <div class="div-block-2">
        <div class="get-involved-container no-space">
          <div class="get-involved-top-image"></div>
          <div class="get-involved-bottom-half">
            <h5 class="get-involved-text heading-6">Join us for a Sunday dinner, become an academic tutor, or sign up as a mentor.</h5><a class="button-2 w-button" href="#">Sign-up &amp; <br>help volunteer</a>
          </div>
        </div>
        <div class="get-involved-container no-space">
          <div class="get-involved-top-image"></div>
          <div class="get-involved-bottom-half">
            <h5 class="get-involved-text heading-6">Donate your boat or property to become a floating classroom or stable home for our kids.</h5><a class="button-2 w-button" href="#">Make a boat or property donation</a>
          </div>
        </div>
        <div class="get-involved-container no-space">
          <div class="get-involved-top-image"></div>
          <div class="get-involved-bottom-half">
            <h5 class="get-involved-text heading-6">Make a gift to support our kids’ journey to transform their lives.</h5><a class="button-2 w-button" href="#">Give a one-time or monthly donation</a>
          </div>
        </div>
        <div class="get-involved-container no-space">
          <div class="get-involved-top-image"></div>
          <div class="get-involved-bottom-half">
            <h5 class="get-involved-text heading-6">Book a sunset sail, a week-long vacation, or a team building retreat.</h5><a class="button-2 w-button" href="#">Book a charter or <br>sunset sail</a>
          </div>
        </div>
        <div class="get-involved-container no-space">
          <div class="get-involved-top-image"></div>
          <div class="get-involved-bottom-half">
            <h5 class="get-involved-text heading-6">Want to make a more specific donation? Cross an item off our wish list.</h5><a class="button-2 w-button" href="#">Take a look at <br>our wishlist</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="recent-news">
    <div class="container">
      <button id="btnFadeIn">Fade Toggle</button>

      <h2 class="heading-2 programs">Recent News &amp; Videos</h2>
      <div class="news-container">
					{{# each data.posts.results}}


					<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="news-linkblock w-inline-block">
            <a href="{{postUrl slug}}" class="">{{{title}}}
						<p class="news-bottom-text">{{{categoryList categories prefix="Posted in "}}}
								{{#if author.name.first}}by {{author.name.first}}{{/if}}
						</p>
						{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
						<div class="news-main-text">{{{content.brief}}}</div>
						{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
            </a>
					</div>
					{{/each}}

        </div>
      </div>
  <div class="sponsors">
    <div class="container">
      <div class="sponsor-container">
        <div class="_1 sponsor"></div>
        <div class="_2 sponsor"></div>
        <div class="_3 sponsor"></div>
        <div class="_4 sponsor"></div>
        <div class="_5 sponsor"></div>
        <div class="_6 sponsor"></div>
        <div class="_7 sponsor"></div>
        <div class="_8 sponsor"></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="div-block-3">
        <div class="footer-column small"><a class="footer-title" href="#">About Us</a>
        </div>
        <div class="footer-column large">
          <div class="footer-title">Programs &amp; Services</div><a class="link-2" href="#">Residential Group Care</a><a class="link-2" href="#">After School Mentorship</a>
        </div>
        <div class="footer-column">
          <div class="footer-title">Take Action</div><a class="link-5" href="#">Donate Your Boat or Property</a><a class="link-5" href="#">Monthly or One-Time Donation</a><a class="link-5" href="#">Become A Volunteer</a><a class="link-5" href="#">Charter Our Boat</a><a class="link-5" href="#">View Our Wishlist</a>
        </div>
        <div class="footer-column">
          <div class="footer-title">Contact</div>
          <div class="text-block-3">mlong@sailfuture.org</div>
          <div class="text-block-4">+1 941 219 9847</div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="text-block-5">Copyright 2017 SailFuture, All Rights Reserved</div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="https://sailforjustice.org/testing/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

  <script>
  $(document).ready(function(){
    $('#btnFadeIn').click(function(){
      $('#popup-container').fadeIn(200);
    });

    $('#btnFadeOut').click(function(){
      $('#popup-container').fadeOut(200);
    });

    $('#myForm').ajaxForm(function() {
        alert("Thank you for your comment!");
    });

  });
  </script>
</body>
</html>
